@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<br />
<br />
<p>&#127850; We use only necessary cookies.</p>
<p>&#128683; We follow the zero-trust approach to IT security.</p>
<p>&#128065; Each operation is logged.</p>
